In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [228]:
p = pd.read_csv('Training Data.csv')

In [229]:
p.tail()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
251995,251996,8154883,43,13,single,rented,no,Surgeon,Kolkata,West_Bengal,6,11,0
251996,251997,2843572,26,10,single,rented,no,Army_officer,Rewa,Madhya_Pradesh,6,11,0
251997,251998,4522448,46,7,single,rented,no,Design_Engineer,Kalyan-Dombivli,Maharashtra,7,12,0
251998,251999,6507128,45,0,single,rented,no,Graphic_Designer,Pondicherry,Puducherry,0,10,0
251999,252000,9070230,70,17,single,rented,no,Statistician,Avadi,Tamil_Nadu,7,11,0

In [230]:
p = p.iloc[:,1:]

In [231]:
p['house_ownership'].value_counts()

rented          231898
owned            12918
norent_noown      7184
Name: house_ownership, dtype: int64

In [232]:
from feature_engine.encoding import RareLabelEncoder
from feature_engine.imputation import RandomSampleImputer
from feature_engine.encoding import OneHotEncoder

In [233]:
re = RareLabelEncoder(tol=0.06,n_categories=1,variables=['house_ownership'])

In [234]:
p = re.fit_transform(p)

In [235]:
oe = OneHotEncoder(variables=['married','house_ownership','car_ownership',
                             'profession'],drop_last=True)

In [236]:
l = oe.fit_transform(p)

In [237]:
l.head()

,income,age,experience,city,state,current_job_years,current_house_years,risk_flag,married_single,house_ownership_rented,...,profession_Drafter,profession_Statistician,profession_Web_designer,profession_Consultant,profession_Chef,profession_Army_officer,profession_Surgeon,profession_Scientist,profession_Civil_engineer,profession_Industrial_Engineer
0,1303835,23,3,Rewa,Madhya_Pradesh,3,13,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,7574516,40,10,Parbhani,Maharashtra,9,13,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,3991815,66,4,Alappuzha,Kerala,4,10,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,6256451,41,2,Bhubaneswar,Odisha,2,12,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,5768871,47,11,Tiruchirappalli[10],Tamil_Nadu,3,14,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [238]:
l.drop(['income','city','state'],inplace=True,axis=1)

In [239]:
l.drop(['risk_flag'],inplace=True,axis=1)

In [240]:
l.head()

,age,experience,current_job_years,current_house_years,married_single,house_ownership_rented,car_ownership_no,profession_Mechanical_engineer,profession_Software_Developer,profession_Technical_writer,...,profession_Drafter,profession_Statistician,profession_Web_designer,profession_Consultant,profession_Chef,profession_Army_officer,profession_Surgeon,profession_Scientist,profession_Civil_engineer,profession_Industrial_Engineer
0,23,3,3,13,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40,10,9,13,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,66,4,4,10,0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,41,2,2,12,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,47,11,3,14,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [178]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [241]:
ro = p.iloc[:,11]

In [242]:
ro = pd.DataFrame(ro)

In [243]:
X = l

In [244]:
ro.head()

   risk_flag
0          0
1          0
2          0
3          1
4          1

In [182]:
X_train, X_test, ro_train, ro_test = train_test_split(X, ro, test_size=0.30, random_state=42)

In [184]:
from sklearn.feature_selection import mutual_info_regression,mutual_info_classif
mi=mutual_info_classif(X_train,ro_train)
mi=pd.Series(mi)
mi.index=l.columns
lol=mi.sort_values(ascending=False)
from sklearn.feature_selection import SelectPercentile
sel=SelectPercentile(mutual_info_classif,percentile=20).fit(X_train,ro_train)
X.columns[sel.get_support()]

C:\Users\GTDNL\anaconda3\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\GTDNL\anaconda3\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Index(['age', 'experience', 'current_job_years', 'current_house_years',
       'married_single', 'house_ownership_rented', 'car_ownership_no',
       'profession_Software_Developer', 'profession_Librarian',
       'profession_Politician', 'profession_Police_officer',
       'profession_Aviator'],
      dtype='object')

In [185]:
x = X[['age', 'experience', 'current_job_years', 'current_house_years',
       'married_single', 'house_ownership_rented', 'car_ownership_no',
       'profession_Software_Developer', 'profession_Librarian',
       'profession_Politician', 'profession_Police_officer',
       'profession_Aviator']]

In [186]:
ro.head()

   risk_flag
0          0
1          0
2          0
3          1
4          1

In [191]:
ro.value_counts()

risk_flag
0            221004
1             30996
dtype: int64

In [142]:
from sklearn.preprocessing import StandardScaler
sd= StandardScaler()
X_train = sd.fit_transform(X_train)
X_test = sd.fit_transform(X_test)

In [190]:
X_train, X_test, ro_train, ro_test = train_test_split(x, ro, test_size=0.30, random_state=42)

In [192]:
from sklearn.metrics import accuracy_score

In [211]:
from sklearn.ensemble import RandomForestClassifier

In [212]:
sv=RandomForestClassifier(max_depth=25, bootstrap=True)

In [213]:
sv.fit(X_train,ro_train)
rf1=sv.predict(X_train)
accuracy_score(rf1,ro_train)

C:\Users\GTDNL\anaconda3\envs\nlp_course\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.9178741496598639

In [214]:
rf2=sv.predict(X_test)
accuracy_score(rf2,ro_test)

0.889431216931217

In [215]:
from sklearn.linear_model import LogisticRegression

In [216]:
model = LogisticRegression()

In [217]:
model.fit(X_train, ro_train)
y_pred = model.predict(X_train)
accuracy_score(ro_train, y_pred)

C:\Users\GTDNL\anaconda3\envs\nlp_course\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\GTDNL\anaconda3\envs\nlp_course\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

0.8768424036281179

In [218]:
y_pred = model.predict(X_test)
accuracy_score(ro_test, y_pred)

0.8773677248677249

In [219]:
from sklearn.tree import DecisionTreeClassifier

In [222]:
model= DecisionTreeClassifier(max_depth=25,random_state=42)

In [223]:
model.fit(X_train, ro_train)
y_pred = model.predict(X_train)
accuracy_score(ro_train, y_pred)

0.9197845804988662

In [224]:
y_pred = model.predict(X_test)
accuracy_score(ro_test, y_pred)

0.8812962962962962

In [226]:
ti = pd.read_csv('credit_bank_data.csv.csv')

In [227]:
ti.tail()

,user_id,gender,date_of_birth,workclass,education_level,education_num,marital_status,occupation,relationship,capital_gain,...,hours_per_week,approved,address,email,inquiry_purpose_code,institute_type,account_type,asset_class_cd,asset_code,portfolio_type
45217,6f5de269-e3b6-4aa0-84a5-e2ab5d3e455c,Male,1976-01-06,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,99999.0,...,60.0,1,"38911 Heather Ranch\r\nEast Carolyn, ND 59814",jack72@richards.com,7.0,PVT,5,NaN,1.0,R
45218,e8e5fd1d-ef19-4652-b6e7-5ba18449e80e,Male,1977-01-05,Private,Prof-school,15.0,Married-spouse-absent,Prof-specialty,Not-in-family,99999.0,...,40.0,1,20346 Fitzpatrick Prairie Suite 117\r\nWeaverh...,jason17@johnson-williams.org,7.0,PVT,5,NaN,1.0,R
45219,1b3ed3e9-0283-4ba4-a7c7-f608f03f296e,Male,1964-01-09,Self-emp-inc,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,99999.0,...,45.0,1,"653 Valerie Cliffs Suite 914\r\nPort Hannah, D...",qdaniels@hotmail.com,13.0,NBF,189,NaN,1.0,I
45220,642859b2-f587-48ef-a5b1-89710301fc71,Male,1979-01-05,Private,Bachelors,13.0,Married-civ-spouse,Craft-repair,Husband,99999.0,...,40.0,1,"6957 Daniel Avenue\r\nWest Jason, VA 80167",whitakersteven@yahoo.com,7.0,PVT,5,NaN,1.0,R
45221,82eab6e5-57ab-4fd7-8923-e7790390c473,Male,1977-01-05,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,99999.0,...,50.0,1,"100 Brian Course\r\nJesusville, MD 36505",gmiller@graham.com,99.0,PVT,5,NaN,1.0,R

In [245]:
che= pd.concat([X,ro],axis=1)

In [246]:
che.to_csv('che.csv')